doctype html
html
  head
    title= titleFinmart
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap/bootstrap.css')
    script(type='text/javascript' src='javascripts/jquery.min.js')
    
  body
    block content
script(type='text/javascript' src='javascripts/script.js')
script(type='text/javascript' src='javascripts/jquery.validate.min.js')
