html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='')
    meta(name='author', content='')
    title NIHON
    // Custom styles for this template
    link(href='http://www.rupeeboss.com/css/bootstrap.min.css', rel='stylesheet')
    script(src='http://www.rupeeboss.com/js/jquery/jquery.min.js')
    script(src='http://www.rupeeboss.com/js/jquery/bootstrap.min.js')
    style.
      h4 {font-weight:normal; font-size:18px;}
      h2 {color:#fff;}
      h1 {color:#fff !important; margin:0px; padding:0px;}
      table td{background:#eee; }
      table th{background:#eee; padding:10px; text-align:center;}
      .table-condensed>tbody>tr>td {padding:10px !important; text-align:center;}
      .table-condensed>tbody>tr>th {padding:10px !important;}
      .table-condensed>thead>tr>th {padding:15px !important;}
      .apply-btn {padding:8px;color:#666;margin:15px !important; display:block;transition:all 0.3s linear;-moz-transition:all 0.3s linear;-webkit-transition:all 0.3s linear;}
      .apply-btn:hover {box-shadow:1px 1px 3px 1px #333; background:#455780; color:#fff; text-decoration:none;transition:all 0.3s linear;-moz-transition:all 0.3s linear;-webkit-transition:all 0.3s linear;}
      .heading-4 {margin-bottom:20px; border:1px dashed #fff; color:#fff;padding:10px;border-top-left-radius:20px;border-bottom-right-radius: 20px;}
      body {
      background: url('http://www.rupeeboss.com/images/medsave.jpg') no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      background-size: cover;
      -o-background-size: cover;
      }
      .bg-dark {
      background-color:transparent !important;
      }
    script.
      $(document).ready(function() {
      $('.obj1').show(800);
      $('.obj2').show(1000);
      $('.obj3').show(1700);
      });
  body
    // Navigation
    .container
      .col-md-12.obj1(style='display:none;')
        br
        h1(style='text-align:center;')
          b NIHON
    // Page Content
    br
    section
      .container
        .row
          .col-md-6.col-md-offset-3.text-center.obj2(style='display:none;')
            h2.mt-5 Is your treatment cost exceeding your mediclaim sum assure
          .col-md-6.col-md-offset-3.text-center.obj2(style='display:none;')
            h4.heading-4
              b No worries…
              | We bring you Digital Medical loans..!!
          .col-md-10.col-md-offset-1.obj3(style='display:none;')
            .table-responsive
              table.table.table-bordered.table-hover.table-condensed
                thead
                  tr
                    th.th1  
                    th.th1(style='background: #2e3779; text-align:center !important; color:#fff;') RBL
                    th.th1(style='background: #ed2121; text-align:center !important; color:#fff;') KOTAK
                    th.th1(style='background: #e87f27; text-align:center !important; color:#fff;') IIFL
                    th.th1(style='background: #2e3779; text-align:center !important; color:#fff;') TATA CAPITAL
                tbody
                  tr
                    th(scope='row') Loan Amount
                    td 1 Lakh-20 lakhs
                    td 1 Lakh-15 lakhs
                    td 1 Lakh-5 lakhs
                    td 1 Lakh-5 lakhs
                  tr
                    th(scope='row') Rate of Interest
                    td 14-16%
                    td 10.99-18%
                    td 13-21%
                    td 13-21%
                  tr
                    th(scope='row') Processing Fee 
                    td 2%
                    td 0.99 - 2%
                    td 2%
                    td 2%
                  tr
                    th(scope='row') Tenure
                    td 12 - 60 months
                    td 12 - 60 months
                    td 12 - 60 months
                    td 12 - 60 months
                  tr
                    th(scope='row') TAT
                    td 3 days
                    td 6 days
                    td 2 days
                    td 2 days
                  tr.no-brd
                    th(scope='row')
                    td
                      a.apply-btn(href='http://www.rupeeboss.com/rbl-personal-loan-dc', target='_blank') APPLY NOW
                    td
                      a.apply-btn(href='http://www.rupeeboss.com/kotak-personal-loan-dc', target='_blank') APPLY NOW
                    td
                      a.apply-btn(href='http://www.rupeeboss.com/apply-iifl-loan-dc', target='_blank') APPLY NOW
                    td
                      a.apply-btn(href='http://www.rupeeboss.com/tata-capital', target='_blank') APPLY NOW
