doctype html
html.no-js
  head
    meta(charset='utf-8')
    |   
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    // <link href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" rel="stylesheet" type="text/css">
    title NIHON
    // <meta name="google-signin-client_id" content="752185558821-9vlmac53np7bgdo3kn9d2e5ft39t7gud.apps.googleusercontent.com">
    meta(name='msvalidate.01', content='3744048BDD61F7FE6837BD664522C8F9')
    |   
    meta(name='viewport', content='width=device-width, initial-scale=1')
    |   
    |   
    meta(name='p:domain_verify', content='05d8ec5b6a704fa5b78abd5f636fdc24')
    // Place favicon.ico and apple-touch-icon.png in the root directory
    link(rel='shortcut icon', href='http://www.rupeeboss.com/images/rb_fav.png')
    // <link rel="stylesheet" href='http://www.rupeeboss.com/fonts/Raleway.css' type="text/css">
    // Animate.css
    link(rel='stylesheet', type='text/css', href='http://www.rupeeboss.com/css/mysite.css')
    link(rel='stylesheet', type='text/css', href='http://www.rupeeboss.com/css/style.css')
    script(src='http://www.rupeeboss.com/js/icici_js/jquery.min.js')
    |   
    script(type='text/javascript', src='http://www.rupeeboss.com/js/icici_js/material.min.js')
    |   
    script(type='text/javascript', src='http://www.rupeeboss.com/js/icici_js/moment-with-locales.min.js')
    |   
    script(type='text/javascript', src='http://www.rupeeboss.com/js/icici_js/bootstrap-material-datetimepicker.js')
    |    
    script(type='text/javascript', src='http://www.rupeeboss.com/js/icici_js/jquery.datepicker.js')
    |     
    script(src='http://www.rupeeboss.com/js/jquery.mask.js')
    script(src='http://www.rupeeboss.com/js/icici_js/jquery.validate.min.js')
    script(src='http://www.rupeeboss.com/js/icici_js/classie.js')
    script(src='http://www.rupeeboss.com/js/bootstrap.min.js', type='text/javascript')
    |   
    link(href='http://www.rupeeboss.com/css/jquery-ui.min.css', rel='Stylesheet')
    script(src='http://www.rupeeboss.com/js/jquery-ui.js')
  body
    .fh5co-contact.animate-box
      .container
        .row
          .col-md-12.text-left.fh5co-heading.animate-box.fadeInUp.animated
            h1.loan-head Kotak Medical Loan
          |         
          .col-md-12
            .row.text-left.comp-pg.rate.white-bg
              form#Kotak_PL_form(role='form', method='POST')
                | 
                .row
                  .form-group
                    h4.text-center Personal Details :
                    br
                    |                     
                    .col-md-4
                      span
                        b Are You Existing Customer
                      |                                 
                      select#IsExstCust.block.drop-arr.select-sty(name='IsExstCust', required='')
                        option(disabled='', selected='', value='') Are You Existing Customer
                        |                                     
                        option(value='Y') Yes
                        |                                     
                        option(value='N') No
                    |                                 
                    #customer_type.col-md-4(style='display: none;')
                      span
                        b
                          | Existing Customer Type Master :
                          b
                      b
                        b
                          select#ExstCustType.block.drop-arr.select-sty(name='ExstCustType', required='')
                            option(disabled='', selected='', value='') Existing Customer Type Master
                            |                                     
                            option(selected='', value='0') 0
                            |                                     
                            option(value='1') Bank
                            |                                     
                            option(value='2') Loan
                    b
                      b
                        #crn.col-md-4(style='display: none;')
                          span
                            b CRN Number :
                          |                                   
                          input#CRN.form-control(type='text', placeholder='CRN Number', value='0', name='CRN', onkeypress='return fnAllowNumeric(event)', required='')
                        |                                 
                        #partyid.col-md-4(style='display: none;')
                          span
                            b Party ID :
                          |                                   
                          input#PartyID.form-control(type='text', placeholder='Party ID', value='0', name='PartyID', onkeypress='return fnAllowNumeric(event)', required='')
                        |                                 
                        .col-md-4
                          span
                            b First Name
                          |                                  
                          input#FirstName.form-control(type='text', placeholder='First Name', name='FirstName', onkeypress='return AllowAlphabet(event)', maxlength='32', required='')
                        |                                 
                        .col-md-4
                          span
                            b Middle Name
                          |                                  
                          input#MiddleName.form-control(type='text', placeholder='Middle Name', name='MiddleName', onkeypress='return AllowAlphabet(event)', maxlength='32')
                        |                                 
                        .col-md-4
                          span
                            b Last Name
                          |                                  
                          input#LastName.form-control(type='text', placeholder='Last Name', name='LastName', onkeypress='return AllowAlphabet(event)', maxlength='32', required='')
                        |                                 
                        .col-md-4
                          span
                            b Gender
                          |                                 
                          select#Gender.block.drop-arr.select-sty(name='Gender', required='')
                            option(disabled='', selected='', value='') Gender
                            |                                     
                            option(value='1') Male
                            |                                     
                            option(value='2') Female
                        |                                 
                        .col-md-4
                          span
                            b Qualification
                          |                                 
                          select#Qualification.block.drop-arr.select-sty(name='Qualification', required='')
                            option(disabled='', selected='', value='') Qualification
                            |                                     
                            option(value='8') Post Graduate
                            |                                     
                            option(value='11') Graduate
                            |                                     
                            option(value='13') Doctorate
                            |                                     
                            option(value='14') Professional
                            |                                     
                            option(value='15') Under Graduate
                            |                                     
                            option(value='16') Vocational
                        |                                 
                        .col-md-4
                          span
                            b DOB
                          |                                  
                          input#DOB.form-control.lastReporteddob(type='text', placeholder='Date Of Birth', name='DOB', required='')
                        |                                 
                        .col-md-4
                          span
                            b Mobile
                          |                                 
                          input#Mobile.form-control(type='text', onkeypress='return fnAllowNumeric(event)', placeholder='Mobile Number', name='Mobile', maxlength='10', required='')
                        |                                 
                        .col-md-4
                          span Email
                          |                                 
                          input#Email.form-control(type='text', placeholder='Email', name='Email', oninput="mail('Email')", required='')
                          |                                 
                          #email(style='display:none;color: red; font-size: 10px') Please Enter Valid Email Id.
                        |                                 
                        .col-md-4
                          span Aadhar number
                          |                                 
                          input#Aadhar.form-control(type='text', onkeypress='return fnAllowNumeric(event)', placeholder='Aadhar Number', oninput="aadhar('Aadhar')", name='Aadhar', maxlength='12', minlength='12')
                          |                                 
                          #aadhar_number(style='display:none;color: red; font-size: 10px') Oops.Please Enter Valid Aadhar Number.!!
                        |                                 
                        .col-md-4
                          span Pan Card
                          |                                 
                          input#PAN.form-control(type='text', name='PAN', placeholder='Pan Card', oninput="pan_card('PAN')", maxlength='10', required='')
                          |                                 
                          span#pan_number(style='display:none;color: red; font-size: 10px') Oops.Please Enter Valid Pan Number.!!
                  b
                    b
                      hr
                b
                  b
                    #section1.row.sec(style='display: none;')
                      .form-group
                        h1.loan-head Office Details:
                        |                     
                        .col-md-4
                          span
                            b Employment Type
                          |                                 
                          select#EmpType.block.drop-arr.select-sty(name='EmpType', required='')
                            option(disabled='', selected='', value='') Employment Type
                            |                                     
                            option(value='1') Salaried
                        |                                 
                        .col-md-4
                          input#Company_Cat(type='hidden', name='Company_Cat', value='')
                          |                                 
                          span
                            b Employer Name / Establishment Name
                          |                                 
                          input#Organization.form-control.search_company(type='text', placeholder='Employer Name / Establishment Name', name='Organization', maxlength='100', required='')
                        |                                 
                        .col-md-4
                          span
                            b Joining date with current company
                          |                                 
                          input#CurCmpnyJoinDt.form-control.lastReported_joining_date(type='text', placeholder='Joining date with current company', name='CurCmpnyJoinDt', required='')
                        |                                 
                        .col-md-4
                          span
                            b Total Work Experience
                          |                                 
                          input#TotWrkExp.form-control(type='text', onkeypress='return fnAllowNumeric(event)', placeholder='Total Work Experience', name='TotWrkExp', required='')
                        |                                  
                        .col-md-4
                          span
                            b Office Address1
                          |                                   
                          input#OffAddress1.form-control(type='text', placeholder='Office Address1', name='OffAddress1', minlength='4', maxlength='30', required='')
                        |                                   
                        .col-md-4
                          span Office Address2
                          |                                   
                          input#OffAddress2.form-control(type='text', placeholder='Office Address2', name='OffAddress2', minlength='4', maxlength='30')
                        |                                   
                        .col-md-4
                          span Office Address3
                          |                                   
                          input#OffAddress3.form-control(type='text', placeholder='Office Address3', name='OffAddress3', minlength='4', maxlength='30', required='')
                        |                                         
                        |                                   
                        .col-md-4
                          span Office City
                          |                                   
                          select#OffCity.form-control.drop-arr.select-sty(name='OffCity', style='height: 50px', required='')
                            option(disabled='', selected='', value='') Office City
                        |                                   
                        .col-md-4
                          span Office Pincode
                          |                                   
                          input#OffPin.form-control(type='text', placeholder='Office Pincode', name='OffPin', onkeypress='return fnAllowNumeric(event)', maxlength='6', required='')
                        |                                   
                        .col-md-4
                          span
                            b Office Phone
                          |                                   
                          input#OffPhone.form-control(type='text', onkeypress='return fnAllowNumeric(event)', placeholder='Office Phone', name='OffPhone', required='', maxlength='9', minlength='9')
                        |                                   
                        .col-md-4
                          span
                            b Preferred Mailing Address
                          |                                   
                          select#PrefMailAdd.block.drop-arr.select-sty(name='PrefMailAdd', required='')
                            option(disabled='', selected='', value='') Preferred Mailing Address
                            |                                   
                            option(value='1') Residence Address
                            |                                   
                            option(value='2') Office Address
                      |                     
                      hr
                    |                   
                    |                   
                    |                   
                    |                 
                    #section2.row.sec(style='display: none;')
                      .form-group
                        h1.loan-head Current Address :
                        |                     
                        .col-md-4
                          span
                            b Address 1
                          |                                         
                          input#ResAddress1.form-control(type='text', placeholder='Address 1', name='ResAddress1', minlength='4', maxlength='30', required='')
                        |                                         
                        .col-md-4
                          span Address 2
                          |                                           
                          input#ResAddress2.form-control(type='text', placeholder='Address 2', name='ResAddress2', minlength='4', maxlength='30')
                        |                                         
                        .col-md-4
                          span Address 3
                          |                                           
                          input#ResAddress3.form-control(type='text', placeholder='Address 3', name='ResAddress3', minlength='4', maxlength='30', required='')
                        |                                         
                        |                                           
                        .col-md-4
                          span Residence City
                          |                                             
                          select#ResCity.form-control.drop-arr.select-sty(name='ResCity', style='height: 50px', required='')
                            option(disabled='', selected='', value='') City
                        |                                           
                        .col-md-4
                          span Pincode
                          |                                           
                          input#ResPin.form-control(type='text', placeholder='Pincode', name='ResPin', onkeypress='return fnAllowNumeric(event)', maxlength='6', required='')
                        |                                           
                        .col-md-4
                          span Residence Type
                          |                                           
                          select#ResType.form-control.block.drop-arr.select-sty(name='ResType', required='')
                            option(disabled='', selected='', value='') Residence Type
                            |                                             
                            option(value='2') Owned by self/spouse
                            |                                             
                            option(value='4') Owned by Parents
                            |                                             
                            option(value='5') Rented - With Family
                            |                                             
                            option(value='7') Rented - With Friends
                            |                                             
                            option(value='11') Rented - Bachelor Staying alone
                            |                                             
                            option(value='13') Paying guest
                            |                                             
                            option(value='14') Hostel/Guest House/Hotel
                            |                                             
                            option(value='17') Company Provided - Staying Alone
                            |                                             
                            option(value='18') Company Provided - Staying with family
                        |                                           
                        .col-md-4
                          span Current Residence Since
                          |                                           
                          input#CurResSince.form-control.lastReported_staying_since(type='text', placeholder='Current Residence Since', name='CurResSince', required='')
                        |                                           
                        .col-md-4
                          span Residence Phone Number
                          |                                           
                          input#ResPhNo.form-control(type='text', onkeypress='return fnAllowNumeric(event)', placeholder='Residence PhNo', maxlength='10', name='ResPhNo')
                      |                     
                      hr
                    |                                     
                    |                   
                    |                   
                    |                                     
                    #section3.row.sec(style='display: none;')
                      .form-group
                        input#same_id(type='checkbox', name='same', onclick='same_fn();')
                        |  Same As Above
                        |                     
                        h1.loan-head Permanent Address :
                        |                     
                        .col-md-4
                          span Address 1
                          |                                             
                          input#PerAddress1.form-control(type='text', placeholder='Per Address1', name='PerAddress1', minlength='4', maxlength='30', required='')
                        |                                           
                        .col-md-4
                          span Address 2
                          |                                             
                          input#PerAddress2.form-control(type='text', placeholder='Per Address2', name='PerAddress2', minlength='4', maxlength='30')
                        |                                           
                        .col-md-4
                          span Address 3
                          |                                             
                          input#PerAddress3.form-control(type='text', placeholder='Per Address3 ', name='PerAddress3', minlength='4', maxlength='30', required='')
                        |                                           
                        .col-md-4
                          span Permanent Residence City
                          |                                               
                          select#PerCity.form-control.drop-arr.select-sty(name='PerCity', style='height: 50px', required='')
                            option(disabled='', selected='', value='') City
                        |                                             
                        .col-md-4
                          span Permanent Residence Pincode
                          |                                             
                          input#PerPin.form-control(type='text', placeholder='Pincode', name='PerPin', maxlength='6', required='')
                        |                                             
                        .col-md-4
                          span Permanent Residence Phone numnber
                          |                                             
                          input#PerResPhNo.form-control(type='text', onkeypress='return fnAllowNumeric(event)', placeholder='Residence PhNo', name='PerResPhNo')
                      |                      
                      hr
                    |   
                    |                   
                    |                   
                    |                   
                    #section4.row.sec(style='display: none;')
                      .form-group
                        h1.loan-head Financial Details :
                        |                     
                        |                       
                        .col-md-4
                          span Net Monthly Income
                          |                                         
                          input#NMI.form-control(type='text', onkeypress='return fnAllowNumeric(event)', placeholder='Net Monthly Income', minlength='5', maxlength='9', name='NMI', required='')
                        |                                         
                        .col-md-4
                          span
                            | Total EMIs you currently pay per month 
                            h6 (If any,otherwise enter 0)
                            h6
                              input#EmiCurPay.form-control(type='text', onkeypress='return fnAllowNumeric(event)', placeholder='Total EMIs you currently pay/month', name='EmiCurPay')
                        |                                         
                        .col-md-4
                          span Requested Loan amount
                          |                                         
                          input#LnAmt.form-control(type='text', onkeypress='return fnAllowNumeric(event)', placeholder='Requested Loan amount', minlength='5', maxlength='9', name='LnAmt', required='')
                        |                                         
                        .col-md-4
                          span Requested Loan Tenure
                          |                                           
                          select#TnrMths.form-control.block.drop-arr.select-sty(name='TnrMths', required='')
                            option(disabled='', selected='', value='') Requested Loan Tenure
                            |                                             
                            option(value='12') 12 Months
                            |                                             
                            option(value='24') 24 Months
                            |                                             
                            option(value='36') 36 Months
                            |                                             
                            option(value='48') 48 Months
                            |                                             
                            option(value='60') 60 Months
                        |                                         
                        .col-md-4
                          span PL Rate Offered
                          |                                         
                          input#IRR.form-control(type='text', onkeypress='return fnAllowNumeric(event)', placeholder='PL Rate Offered', name='IRR', required='', readonly='')
                        |                                         
                        .col-md-4
                          span Processing Fee
                          |                                         
                          input#ProcFee.form-control(type='text', onkeypress='return fnAllowNumeric(event)', placeholder='Processing Fee', name='ProcFee', required='', readonly='')
                      |                   
                      |                         
                      |                   
                      .col-md-4
                        | Is any Co-Applicant added? :
                        input#have(type='radio', name='IsCoApp', value='Y')
                        |  Yes
                        |                                         
                        input#not_have(type='radio', name='IsCoApp', checked='', value='N')
                        |  No
                      br
                      |                   
                      .row
                        #co_app_details(style='display: none;')
                          .col-md-4
                            span Relationship With Co-applicant
                            |                                           
                            select#CoAppReltn.form-control.block.drop-arr.select-sty(name='CoAppReltn', required='')
                              option(disabled='', selected='', value='') Relationship With Co-applicant
                              |                                             
                              option(selected='', value='0') 0
                              |                                             
                              option(value='1') Spouse
                              |                                             
                              option(value='9') Father
                              |                                             
                              option(value='12') Mother
                              |                                             
                              option(value='21') Brother
                              |                                             
                              option(value='23') Son
                              |                                             
                              option(value='24') Daughter
                          |                                         
                          .col-md-4
                            span
                              b Co-applicant&apos;s Date Of Birth
                            |                                         
                            input#CoAppDOB.form-control.lastReportedCoAppDOB(type='text', name='CoAppDOB', placeholder="Co-applicant's Date Of Birth", value='0', required='')
                          |                                         
                          .col-md-4
                            span
                              b Co-Employment Type
                            |                                         
                            select#CoAppEmpType.block.drop-arr.select-sty(name='CoAppEmpType', required='')
                              option(disabled='', selected='', value='') Employment Type
                              |                                          
                              option(selected='', value='0') 0
                              |                                         
                              option(value='1') Salaried
                          |                                         
                          .col-md-4
                            span
                              b Co applicant&apos;s Employer Name / Establishment Name
                            |                                         
                            input#CoAppOrg.form-control(type='text', onkeypress='return fnAllowNumeric(event)', placeholder="Co applicant's Employer Name / Establishment Name", name='CoAppOrg', value='0', required='')
                          |  
                          |                                         
                          .col-md-4
                            span Co-applicant&apos;s Net Monthly Income
                            |                                         
                            input#CoAppNMI.form-control(type='text', onkeypress='return fnAllowNumeric(event)', placeholder="Co-applicant's Net Monthly Income", minlength='5', maxlength='9', name='CoAppNMI', value='0', required='')
                          |  
                          |                                         
                          .col-md-4
                            span Emi Currently Pay
                            |                                         
                            input#CoAppEmiCurPay.form-control(type='text', onkeypress='return fnAllowNumeric(event)', placeholder='Emi Currently Pay', value='0', name='CoAppEmiCurPay')
                      |                       
                      |                                         
                      |                     
                      |                     
                      |                     
                      |                       
                      |                       
                      |                    
                      |                     
                      |                     
                      .col-md-12
                        button.btn.btn-primary.btn-outline.with-arrow.animate-box.fadeInUp.animated.kotak-pl-proceed.dis-tbl
                          | Click To Proceed
                          i.icon-arrow-right
                        |                     
                        button.btn.btn-primary.btn-outline.with-arrow.animate-box.fadeInUp.animated.kotak-pl-submit.dis-tbl(style='display: none;')
                          | Confirm &amp; Continue
                          i.icon-arrow-right
                        |                   
                        .iframeloading(style='display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 100%;')
                          img(src='http://www.rupeeboss.com/images/ajaxloader.gif', alt='Loader', title='Loader', style='top: 50%; position: relative; left: 50%;')
                      |           
                      hr
                    |           
                    button#kotak_personal_loan.btn.btn-primary.btn-outline.with-arrow.mrg-top.center-block.kotak_pl
                      | NEXT
                      i.icon-arrow-right
            b
              b
          b
            b
        b
          b
      b
        b
          #kotak_pl_popup.modal.fade(tabindex='-1', role='dialog')
            .modal-dialog(role='document')
              .modal-content
                .modal-header
                  button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') &times;
                  |         
                  h4.modal-title Confirmation Status
                |       
                .modal-body
                  h4
                    p#modalerr
                  h5(style='color: black')
                    | Your Kotak Personal Loan Lead Id is 
                    b
                      span#kotak_pl_refcode
                    | .
                  h5
                    p
          #kotak_pl_popup_eligible.modal.fade(tabindex='-1', role='dialog')
            .modal-dialog(role='document')
              .modal-content
                .modal-header
                  button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') &times;
                  |         
                  h4.modal-title Confirmation Status
                |       
                .modal-body
                  h4
                    p#modalerr
                  h5(style='color: black')
                    | Your Kotak Personal Loan Lead Id is 
                    b
                      span#kotak_pl_refcode
                      | You Are Eligible For LoanAmount
                      span#kotak_pl_eligLnAmt
                      | And Eligible ROI is
                      span#kotak_pl_roi
                    | .
                  h5
                    p
          #kotak_pl_errcode_popup.modal.fade(tabindex='-1', role='dialog')
            .modal-dialog(role='document')
              .modal-content
                .modal-header
                  button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') &times;
                  |         
                  h4.modal-title Confirmation Status
                |       
                .modal-body
                  h4
                    p#modalerr
                  h5(style='color: black;font-size: 15px')
                    | Thank You For Banking With Kotak Bank Personal Loan. We are sorry to say, you have been 
                    b
                      | Rejected 
                      span#kotak_pl_errcode
                  h5
                    p
          #kotak_pl_status.modal.fade(tabindex='-1', role='dialog')
            .modal-dialog(role='document')
              .modal-content
                .modal-header
                  button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') &times;
                  |         
                  h4.modal-title Confirmation Status
                |       
                .modal-body
                  h4
                    p#modalerr
                  h5(style='color: black')
                    | Thank You for your interest in Kotak Bank Personal Loan
                    b
                      span#kotak_pl_status
                    | .
                  h5
                    p
          #kotak_popup_error.modal.fade(tabindex='-1', role='dialog')
            .modal-dialog(role='document')
              .modal-content
                .modal-header
                  button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') &times;
                  |         
                  h4.modal-title Confirmation Status
                |       
                .modal-body
                  h4
                    p#modalerr
                  h5(style='color: black')
                    b
                      | Ooops! Error occured.ErrorInfo is : 
                      b
                        span#kotak_duplicate
                      | .
                      h5
                        p
                b
              b
            b
          b
            script(type='text/javascript').
              function same_fn(checked){
              var id=  document.getElementById("same_id");
              // document.getElementById("same_id").checked = false;
              if(id.checked){
              $('#PerAddress1').val($('#ResAddress1').val());
              $('#PerAddress2').val($('#ResAddress2').val());
              $('#PerAddress3').val($('#ResAddress3').val());
              $('#PerCity').val($('#ResCity').val());
              $('#PerPin').val($('#ResPin').val());
              $('#PerResPhNo').val($('#ResPhNo').val());
              }else{
              $('#PerAddress1').val('');
              $('#PerAddress2').val('');
              $('#PerAddress3').val('');
              $('#PerCity').val('');
              $('#PerPin').val('');
              $('#PerResPhNo').val('');
              }
              }
            script(type='text/javascript').
              $("#kotak_personal_loan").click(function(event){
              event.preventDefault();
              if(!  $('#Kotak_PL_form').valid()){
              return false;
              }else{$('#section1').show();
              if(!  $('#Kotak_PL_form').valid()){return false;
              }else{ $('#section2').show();
              if(! $('#Kotak_PL_form').valid()){
              return false;
              }else{$('#section3').show();
              if(! $('#Kotak_PL_form').valid()){return false;
              }else{$('#section4').show();
              if(! $('#Kotak_PL_form').valid()){
              $('.kotak_pl').hide();
              return false;
              }else{
              $('.kotak_pl').hide();
              $('#section5').show();
              }
              }
              }
              }
              }
              });
              $(".kotak-pl-submit").click(function(event){
              alert('okae');
              event.preventDefault();
              if(!  $('#Kotak_PL_form').valid()){
              return false;
              }else{
              // $(".iframeloading").show();
              $.ajax({
              type: "POST",
              url: "http://www.rupeeboss.com/kotak-pl-submit-dc",
              data : $('#Kotak_PL_form').serialize(),
              dataType: 'json',
              success: function(msg){
              // $(".iframeloading").hide();
              console.log(msg);
              if (msg.status=='1')
              {
              $('#kotak_pl_refcode').empty().append(msg.refcode);
              $('#kotak_pl_popup').modal('show');
              }else if(msg.status=='2')
              {
              $('#kotak_pl_refcode').empty().append(msg.refcode);
              $('#kotak_pl_eligLnAmt').empty().append(msg.EligLnAmt);
              $('#kotak_pl_roi').empty().append(msg.ROI);
              $('#kotak_pl_popup_eligible').modal('show');
              }
              else if(msg.status=='3')
              {
              $('#kotak_pl_errcode').empty().append(msg.errorinfo);
              $('#kotak_pl_errcode_popup').modal('show');
              }
              else if(msg.status=='4'){
              $('#kotak_pl').empty().append(msg.refcode);
              $('#kotak_pl_status').modal('show');
              }else
              {
              $('#kotak_duplicate').empty().append(msg.errorinfo);
              $('#kotak_popup_error').modal('show');
              }
              }
              });
              }
              });
              //   function get_kotak_error(id){
              //   error='';
              //   switch (id) {
              //     case 1:
              //       error="INPUT OUT OF MASTERS RANGE";
              //       break;
              //     case 2:
              //       error="VALIDATION ERROR";
              //       break;
              //     case 3:
              //       error="INPUT NOT IN VALID DATA FORMAT (SPECIAL CHARACTERS etc)";
              //       break;
              //     case 4:
              //       error="SYSTEM UNAVAILABLE";
              //       break;
              //     case 5:
              //       error="DECISION CENTER ERROR";
              //       break;
              //     case 6:
              //       error="DUPLICATE APPLICATION";
              //       break;
              //   }
              //     return error;
              // }
            script.
              $('#IsExstCust').on('change', function() {
              // alert('okae');
              var IsExstCust=$('#IsExstCust').find(":selected").val();
              console.log(IsExstCust);
              if ( IsExstCust == 'Y')
              {
              $("#customer_type").show();
              }
              else{
              $("#customer_type").hide();
              }
              });
            script.
              $('#ExstCustType').on('change', function() {
              // alert('okae');
              var ExstCustType=$('#ExstCustType').find(":selected").val();
              // console.log(ExstCustType);
              if ( ExstCustType == '1')
              {
              $("#crn").show();
              $("#partyid").hide();
              }
              else{
              $("#crn").hide();
              $("#partyid").show();
              }
              });
            script(type='text/javascript').
              var d = new Date();
              var year = d.getFullYear()-21 ;
              d.setFullYear(year);
              $("#DOB").datepicker({ dateFormat: "dd-mm-yy",
              changeMonth: true,
              changeYear: true,
              maxDate: year,
              minDate: "-76Y",
              yearRange: '-76:' + year + '',
              defaultDate: d
              });
            script(type='text/javascript').
              var d = new Date();
              var year = d.getFullYear() ;
              d.setFullYear(year);
              $("#CurResSince").datepicker({ dateFormat: "dd-mm-yy",
              changeMonth: true,
              changeYear: true,
              maxDate: year,
              minDate: "-100Y",
              yearRange: '-100:' + year + '',
              defaultDate: d
              });
            script(type='text/javascript').
              var d = new Date();
              var year = d.getFullYear() ;
              d.setFullYear(year);
              $("#CoAppDOB").datepicker({ dateFormat: "dd-mm-yy",
              changeMonth: true,
              changeYear: true,
              maxDate: year,
              minDate: "-100Y",
              yearRange: '-100:' + year + '',
              defaultDate: d
              });
            script(type='text/javascript').
              var d = new Date();
              var year = d.getFullYear() ;
              d.setFullYear(year);
              $("#CurCmpnyJoinDt").datepicker({ dateFormat: "dd-mm-yy",
              changeMonth: true,
              changeYear: true,
              maxDate: year,
              minDate: "-100Y",
              yearRange: '-100:' + year + '',
              defaultDate: d
              });
            script(type='text/javascript').
              function mail(obj,val){
              // console.log(obj);
              if(obj=='Email' ){
              var str =$('#Email').val();
              var emailPattern = /^[a-z0-9._%+-]+@[a-z0-9.-]+\\.[a-z]{2,4}$/;
              var res = str.match(emailPattern);
              if(res){
              // console.log('Pancard is valid one.!!');
              $('#email').hide();
              }else{
              // console.log('Oops.Please Enter Valid Pan Number.!!');
              $('#email').show();
              return false;
              }
              }
              }
            script(type='text/javascript').
              function aadhar(obj,val){
              // //console.log(obj);
              if(obj=='Aadhar' ){
              var str =$('#Aadhar').val();
              var aadharcardPattern = /^\\d{4}\d{4}\d{4}$/;
              var res = str.match(aadharcardPattern);
              if(res){
              // //console.log('Aadhar No. is valid one.!!');
              $('#aadhar_number').hide();
              }else{
              // //console.log('Oops.Please Enter Valid Aadhar No..!!');
              $('#aadhar_number').show();
              return false;
              }
              }
              }
            script(type='text/javascript').
              function pan_card(obj,val){
              // console.log(obj);
              if(obj=='PAN' ){
              var str =$('#PAN').val();
              var pancardPattern = /^([a-zA-Z]{5})(\\d{4})([a-zA-Z]{1})$/;
              var res = str.match(pancardPattern);
              if(res){
              // console.log('Pancard is valid one.!!');
              $('#pan_number').hide();
              }else{
              // console.log('Oops.Please Enter Valid Pan Number.!!');
              $('#pan_number').show();
              return false;
              }
              }
              }
            |     
            script(type='text/javascript').
              function pan_nmbr(obj,val){
              console.log(obj);
              if(obj=='pan' ){
              var str =$('#pan').val();
              console.log(str);
              var pancardPattern = /^([a-zA-Z]{5})(\\d{4})([a-zA-Z]{1})$/;
              var res = str.match(pancardPattern);
              if(res){
              // console.log('Pancard is valid one.!!');
              $('#pan_num').hide();
              }else{
              // console.log('Oops.Please Enter Valid Pan Number.!!');
              $('#pan_num').show();
              return false;
              }
              }
              }
            script(type='text/javascript').
              $.ajax({
              url: "http://www.rupeeboss.com/kotak-pl-city-master",
              method:"GET",
              success: function(datas)
              {
              var data=$.parseJSON(datas);
              console.log(data);
              if(data)
              {      $.each(data, function( index, value ) {
              $('#ResCity').append('<option value="'+value.city_code+'">'+value.city_name+'</option>');
              });
              }else{
              $('#ResCity').empty().append('No Result Found');
              }
              },
              });
            script(type='text/javascript').
              $.ajax({
              url: "http://www.rupeeboss.com/kotak-pl-city-master",
              method:"GET",
              success: function(datas)
              {
              var data=$.parseJSON(datas);
              console.log(data);
              if(data)
              {      $.each(data, function( index, value ) {
              $('#PerCity').append('<option value="'+value.city_code+'">'+value.city_name+'</option>');
              });
              }else{
              $('#PerCity').empty().append('No Result Found');
              }
              },
              });
            script(type='text/javascript').
              $.ajax({
              url: "http://www.rupeeboss.com/kotak-pl-city-master",
              method:"GET",
              success: function(datas)
              {
              var data=$.parseJSON(datas);
              console.log(data);
              if(data)
              {      $.each(data, function( index, value ) {
              $('#OffCity').append('<option value="'+value.city_code+'">'+value.city_name+'</option>');
              });
              }else{
              $('#OffCity').empty().append('No Result Found');
              }
              },
              });
            script(type='text/javascript').
              $('#have').change(function(){
              $("#co_app_details").show();
              });
            script(type='text/javascript').
              $('#not_have').change(function(){
              $("#co_app_details").hide();
              });
            script(type='text/javascript').
              function AllowAlphabet(e)
              {
              isIE = document.all ? 1 : 0
              keyEntry = !isIE ? e.which : event.keyCode;
              if (((keyEntry >= '65') && (keyEntry <= '90')) || ((keyEntry >= '97') && (keyEntry <= '122')) || (keyEntry == '46') || (keyEntry == '32') || keyEntry == '45')
              return true;
              else
              {
              // alert('Please Enter Only Character values.');
              return false;
              }
              }
            script(type='text/javascript').
              $(document).ready(function(){
              $(".search_company").autocomplete({
              source: function(request, response) {
              $.ajax({
              url: "http://www.rupeeboss.com/searchkotak_plcompanyajax",
              dataType: "json",
              data: {
              term : request.term
              },
              success: function(data) {
              // //console.log(data);
              response(data);
              }
              });
              },
              change: function (event, ui) {
              if (ui.item == null || ui.item == undefined || ui.item.value=='No Result Found') {
              $(".search_company").attr("data-value","CAT D");
              $("#Company_Cat").val("CAT D");
              // $(".search_company").attr("disabled", false);
              }else{
              $(".search_company").attr("data-value", ui.item.datavalue);
              $("#Company_Cat").val(ui.item.datavalue);
              }
              }
              });
              });
            script(type='text/javascript').
              $('.kotak-pl-proceed').click(function(event){
              event.preventDefault();
              if(!  ($('#Organization')&&($('NMI'))&&($('NMI')))){
              return false;
              }else{
              var Organization=$("#Organization").val();
              var NMI=$("#NMI").val();
              var LnAmt=$("#LnAmt").val();
              var v_token = "{{csrf_token()}}";
              // $(".iframeloading").show();
              $.ajax({
              type: "POST",
              url: "http://www.rupeeboss.com/kotak-pl-proceed",
              data : { 'Organization': Organization ,'LnAmt': LnAmt , 'NMI': NMI ,'_token': v_token},
              dataType: 'json',
              success: function(msg){
              $('.kotak-pl-submit').show();
              $('.kotak-pl-proceed').hide();
              var data=msg[0];
              console.log(data);
              $('#IRR').val(data.roi);
              var processing_fee=LnAmt*data.csc_pf/100;
              $('#ProcFee').val(processing_fee);
              // $(".iframeloading").hide();
              }
              });
              }
              });
            //
              <script type="text/javascript">
              $('#kotak-pl-status').click(function(){
              alert('okae');
              $('#kotak-pl-popup-status').modal('show');
              });
              </script>
            script(type='text/javascript').
              $('#kotak_status').click(function(event){
              alert('okae');
              event.preventDefault();
              // alert('okae');
              if(! $('#kotak_personal_loan_status').valid())
              {
              alert('Please Fill Up All Details');
              }
              else
              {
              $.ajax({
              type: "POST",
              url: "http://www.rupeeboss.com/kotak-personal-loan-status-dc",
              data : $('#kotak_personal_loan_status').serialize(),
              success: function(msg){
              console.log(msg.status);
              if (msg.status =="1") {
              $('#kotakrefcode').empty().append(msg.refcode);
              $('#kotakstatus').empty().append(msg.appstatusdesc);
              $('#kotak-status-popup').modal('show');
              } else {
              $('#kotak-status-popup').modal('hide');
              $('#kotak-hl-status-error').modal('show');
              }
              }
              });
              }
              });
