doctype html
html.no-js
  head
    meta(charset='utf-8')



  body
    iframe(src='http://www.rupeeboss.com/rbl-personal-loan-dc', height='700', width='100%')
    |   
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    // <link href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" rel="stylesheet" type="text/css">
    title NIHON
    // <meta name="google-signin-client_id" content="752185558821-9vlmac53np7bgdo3kn9d2e5ft39t7gud.apps.googleusercontent.com">
    meta(name='msvalidate.01', content='3744048BDD61F7FE6837BD664522C8F9')
    |   
    meta(name='viewport', content='width=device-width, initial-scale=1')
    |   
    |   
    meta(name='p:domain_verify', content='05d8ec5b6a704fa5b78abd5f636fdc24')
    // Place favicon.ico and apple-touch-icon.png in the root directory
    
    // <link rel="stylesheet" href='http://www.rupeeboss.com/fonts/Raleway.css' type="text/css">
    // Animate.css
    link(rel='stylesheet', type='text/css', href='http://www.rupeeboss.com/css/mysite.css')
    link(rel='stylesheet', type='text/css', href='http://www.rupeeboss.com/css/style.css')
    script(src='http://www.rupeeboss.com/js/icici_js/jquery.min.js')
    |   
    script(type='text/javascript', src='http://www.rupeeboss.com/js/icici_js/material.min.js')
    |   
    script(type='text/javascript', src='http://www.rupeeboss.com/js/icici_js/moment-with-locales.min.js')
    |   
    script(type='text/javascript', src='http://www.rupeeboss.com/js/icici_js/bootstrap-material-datetimepicker.js')
    |    
    script(type='text/javascript', src='http://www.rupeeboss.com/js/icici_js/jquery.datepicker.js')
    |     
    script(src='http://www.rupeeboss.com/js/jquery.mask.js')
    script(src='http://www.rupeeboss.com/js/icici_js/jquery.validate.min.js')
    script(src='http://www.rupeeboss.com/js/icici_js/classie.js')
    script(src='http://www.rupeeboss.com/js/bootstrap.min.js', type='text/javascript')
    |   
    link(href='http://www.rupeeboss.com/css/jquery-ui.min.css', rel='Stylesheet')
    script(src='http://www.rupeeboss.com/js/jquery-ui.js')
  body
    